/* The animation code */
@keyframes example {
    0%   {opacity: .1;}
    25%  {opacity: .25;}
    50%  {opacity: .5;}
    100% {opacity: 1;}
}


/*
 * Flash animation
*/
@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: .50;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0.50;}
}

@keyframes glowingOrbs {
    0%   {
        box-shadow: 0px 0px 20px rgba(255,255,255,1), 5px 5px 100px rgba(255,255,255,1);
        background-color: rgba(255,255,255,.7);
    }
    25% {
        background-color: rgba(255,255,255,1);
    }
    50%  {
        box-shadow: 0px 0px 80px rgba(255,255,255,1), 5px 5px 100px rgba(255,255,255,1);
        background-color: rgba(255,255,255,1);
    }
    75% {
        background-color: rgba(255,255,255,1);
    }
    100% {
        box-shadow: 0px 0px 20px rgba(255,255,255,1), 5px 5px 100px rgba(255,255,255,1);
        /*transform: rotate(360deg);*/
        background-color: rgba(255,255,255,.7);
    }
}


.main-svg {
	background: none !important;
}


body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
    background-color: #000000;
}

#myDiv{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}


@keyframes another {
    0%   {
        box-shadow: 0px 0px 20px rgba(255,255,255,1), 5px 5px 100px rgba(255,255,255,1);
        background-color: rgba(180,180,180,1);
        transform: scale(.75);
    }
    25% {
        background-color: rgba(210,210,210,1);
        transform: scale(.85);
    }
    50%  {
        box-shadow: 0px 0px 55px rgba(255,255,255,1), 5px 5px 100px rgba(255,255,255,1);
        background-color: rgba(255,255,255,1);
        transform: scale(1);
    }
    75% {
        background-color: rgba(255,255,255,1);
         transform: scale(0.85);
    }
    100% {
        box-shadow: 0px 0px 20px rgba(255,255,255,1), 5px 5px 100px rgba(255,255,255,1);
        transform: rotate(360deg);
        background-color: rgba(180,180,180,1);
        transform: scale(.75);
    }
}

.gotohell {
    transform: rotate(0deg);
    position: absolute;
    border-radius: 90px;
    filter: blur(.05em);
    background-color: rgba(255,255,255,1);
}

.trace.scattergeo > path.point {
    opacity: 0 !important;
}

.gotohell.party {
    animation: another 7s linear infinite;
}


#geo > svg:nth-child(2) > g.baselayer > g.subunits > path{
	 animation: flash 10s infinite;
}

#geo > svg:nth-child(2) > g.baselayer{

}
